# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
venv/
env/
.venv/

# Django
*.log
debug.log
db.sqlite3
media/
staticfiles/
/staticfiles

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
node_modules/
